div {
	color: #D8D8D8;
}
ul {
	list-style-type: none;
	color: #D8D8D8;
	float: top;
	background-color: #292E37;
	top: -15px;
	position: relative;
	width: auto;
	height: 70px;
}
li {
	float: left;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #DFDFDF;
}
a:hover {
	color: #FDFDFD;
}
a.navbar {
	background-color: #292E37;
	color: #D8D8D8;
	height: 35px;
	display: block;
	width: 115px;
	padding: 5px;
	margin-top: 25px;
	text-align: center;
}
a.navbarSel {
	display: block;
	width: 115px;
	padding: 5px;
	text-align: center;
	margin-top: 10px;
	height: 50px;
	background-color: #40485A;
	color: #E8E8E8;
}
a.navbar:hover {
	margin-top: 10px;
	height: 50px;
	background-color: #40485A;
	color: #E8E8E8;
}